# Configurações da API do TMDB (The Movie Database)

# Token de Leitura do TMDB (Bearer Token v4) - Recomendado
TMDB_BEARER_TOKEN=seu_bearer_token_aqui

# Ou API Key v3 (caso prefira utilizar a chave tradicional)
TMDB_API_KEY=sua_api_key_aqui
